.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Order-summery{
    background: #FF99004D;
    
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;

}